<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ToolProject</display-name>
  
  <!-- web3.0支持，如果在servlet配置了注解@WebServlet("/ExcelUtilServlet")，在此处可以不用配置 -->
  <!-- <servlet>
    <servlet-name>DownloadExcelServlet</servlet-name>
    <servlet-class>com.ouzy.util.poi.DownloadExcelServlet</servlet-class>
    <init-param> 配置初始化参数，servlet可以通过getInitParameter("user")获取
    	<param-name>user</param-name>
    	<param-value>ouzy</param-value>
    </init-param>
  </servlet> -->
  <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.ouzy.servlet.common.AjaxServlet</servlet-class>
  </servlet>


  


  <!-- <servlet-mapping>
    <servlet-name>DownloadExcelServlet</servlet-name>
    <url-pattern>/DownloadExcelServlet</url-pattern>
  </servlet-mapping> -->
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/AjaxServlet</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>